<p id="notice"><%= notice %></p>

<p id="notice"><%= notice %></p>

<div align = "left">                                   
<h1>今日の予定</h1>                                      
<table border="5" align="left">
 <thead>
  <tr>
   <th>予定名</th>
   <th>詳細内容</th>
   <th>予定日</th>
   <th>重要度</th>
   <th>指定日</th>
   <th>添付ファイル</th>
  </tr>
 </thead>

 <tbody>
  <% @tasks.each do |task| %>
  <tr>
  
  <td><%= task.name %></td>
  <td><%= task.content %></td>
  <td>
   <% if (task.day) - (Date.today) <= 0 %>
    <font color="red"><%= task.day %></font>
   <% else %>
    <font color="black"><%= task.day %></font>
   <% end %>
   </td>
  <td><%= task.important %></td>
  <td><%= task.s_date %></td>
  <td><%= task.file %></td>

  <td><%= link_to '詳細', task %></td>
  <td><%= link_to '更新', edit_task_path(task) %></td>
  <td><%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 </tr>
 <% end %>
 </tbody>
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<h1>明日の予定</h1> 
<table border="5" align="left">
 <thead>
  <tr>
   <th>予定名</th>
   <th>詳細内容</th>
   <th>予定日</th>
   <th>重要度</th>
   <th>指定日</th>
   <th>添付ファイル</th>
  </tr>
 </thead>

 <tbody>
  <% @tasks.each do |task| %>
  <tr>
  
  <td><%= task.name %></td>
  <td><%= task.content %></td>
  <td><%= task.day %></td>
  <td><%= task.important %></td>
  <td><%= task.s_date %></td>
  <td><%= task.file %></td>

  <td><%= link_to '詳細', task %></td>
  <td><%= link_to '更新', edit_task_path(task) %></td>
  <td><%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 </tr>
 <% end %>
 </tbody>
</table>

<a href="http://localhost:3000/tasks/new">
 <%= image_tag 'aaa.png' %>
  </a>

<div align = left>
<a href="http://localhost:3000/fin_tasks">
 <%= image_tag 'btn053_05.png' %>
 </div>
</a>

<div align = center>
<a href="">
 <%= image_tag 'btn048_12.png' %>
 </div>
</a>

<div align = center>
<a href="http://localhost:3000/often_tasks">
 <%= image_tag 'btn046_04.gif' %>
 </div>
</a>

<%= link_to "今日の予定", search_tasks_path %>
