<p id="notice"><%= notice %></p>

<p>
  <strong>予定名:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>詳細内容:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>予定日:</strong>
  <%= @task.day %>
</p>

<p>
  <strong>重要度:</strong>
  <%= @task.important %>
</p>

<p>
  <strong>指定日:</strong>
  <%= @task.s_date %>
</p>

<p>
  <strong>添付ファイル:</strong>
  <%= @task.file %>
</p>

<%= link_to '更新', edit_task_path(@task) %> |
<%= link_to '戻る', tasks_path %>
