<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>Day:</strong>
  <%= @task.day %>
</p>

<p>
  <strong>Important:</strong>
  <%= @task.important %>
</p>

<p>
  <strong>S date:</strong>
  <%= @task.s_date %>
</p>

<p>
  <strong>File:</strong>
  <%= @task.file %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
