<div style="position:absolute; top:180px; left:800px;">

<p id="notice"><%= notice %></p>

<div style="position:absolute; top:100px; left:660px;">
<a href="http://localhost:3000/tasks/new">
 <%= image_tag 'btn057_01.png' %>
  </div>
  </a>

<div style="position:absolute; top:100px; left:780px;">
<a href="http://localhost:3000/fin_tasks">
 <%= image_tag 'btn057_02.png' %>
 </div>
</a>

<div style="position:absolute; top:100px; left:900px;">
 <a href="">
 <%= image_tag 'btn057_05.png' %>
 </div>
</a>

<div style="position:absolute; top:100px; left:1020px;">
 <a href="http://localhost:3000/often_tasks">
 <%= image_tag 'btn057_06.png' %>
 </div>
</a>

<div style="position:absolute; top:100px; left:1140px;">
<a href="http://localhost:3000/chatlogs">
 <%= image_tag 'btn057_08.png' %>
 </div>
</a>

<h1>Listing User Groups</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_groups.each do |user_group| %>
      <tr>
        <td><%= user_group.user_id %></td>
        <td><%= user_group.group_id %></td>
        <td><%= link_to 'Show', user_group %></td>
        <td><%= link_to 'Edit', edit_user_group_path(user_group) %></td>
        <td><%= link_to 'Destroy', user_group, method: :delete, data: { confirm: '–{“–‚Éíœ‚µ‚Ü‚·‚©H' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User group', new_user_group_path %>
