<div style="position:absolute; top:180px; left:870px;">

<p id="notice"><%= notice %></p>

<h1>Chat room</h1>

<p>
  <strong>User:</strong>
  <%= @chatlog.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @chatlog.content %>
</p>

<p>
  <strong>Group:</strong>
  <%= @chatlog.group_id %>
</p>

<%= link_to 'Edit', edit_chatlog_path(@chatlog) %> |
<%= link_to 'Back', chatlogs_path %>
