<p id="notice"><%= notice %></p>

<h1>Listing Group Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_tasks.each do |group_task| %>
      <tr>
        <td><%= group_task.name %></td>
        <td><%= group_task.group_id %></td>
        <td><%= link_to 'Show', group_task %></td>
        <td><%= link_to 'Edit', edit_group_task_path(group_task) %></td>
        <td><%= link_to 'Destroy', group_task, method: :delete, data: { confirm: '–{“–‚Éíœ‚µ‚Ä‚à‚¢‚¢‚Å‚·‚©H' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group task', new_group_task_path %>
