<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group_task.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @group_task.group_id %>
</p>

<%= link_to 'Edit', edit_group_task_path(@group_task) %> |
<%= link_to 'Back', group_tasks_path %>
