<p id="notice"><%= notice %></p>

<div style="position:absolute; top:100px; left:700px;">
<a href="http://localhost:3000/tasks/new">
 <%= image_tag 'btn057_01.png' %>
  </div>
  </a>

<div style="position:absolute; top:100px; left:820px;">
 <a href="">
 <%= image_tag 'btn057_05.png' %>
 </div>
</a>

<div style="position:absolute; top:100px; left:940px;">
 <a href="http://localhost:3000/often_tasks">
 <%= image_tag 'btn057_06.png' %>
 </div>
</a>

<div style="position:absolute; top:100px; left:1060px;">
<a href="http://localhost:3000/chatlogs">
 <%= image_tag 'btn057_08.png' %>
 </div>
</a>

<div style="position:absolute; top:180px; left:850px;">
<h1>よく使うタスク</h1>
<table border="5">
  <thead>
    <tr>
      <th>予定名</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @often_tasks.each do |often_task| %>
      <tr>
        <td><%= often_task.name %></td>
        <td><%= link_to '変更', edit_often_task_path(often_task) %></td>
        <td><%= link_to '削除', often_task, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しく作る', new_often_task_path %>
<%= link_to 'マイページ', tasks_path %>
</div>