<p id="notice"><%= notice %></p>

<h1>Listing Often Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @often_tasks.each do |often_task| %>
      <tr>
        <td><%= often_task.name %></td>
        <td><%= link_to 'Show', often_task %></td>
        <td><%= link_to 'Edit', edit_often_task_path(often_task) %></td>
        <td><%= link_to 'Destroy', often_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Often task', new_often_task_path %>
